.contacts-container {
    padding-top: 26px;
    display: flex;
}

.contacts {
    flex: 0 1 472px;
    margin-right: 178px;
}

.contacts__title {
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 25px 41px;
}

.contacts__content {
    padding: 20px 43px;
    min-height: 621px;
    background-color: var(--white-color);
    border-radius: 12px;
    border: 1px solid var(--white-color);
}

.contacts__table {
  border-collapse: collapse;
}

.table__row{
  border-bottom: 1px solid #cccccc;
}

.table__row-caption {
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    color: var(--dark-gray);
    padding-top: 26px;
    vertical-align: top;
}

.table__row-description {
  padding: 25px 0 25px 38px ;
  line-height: 24px;
}

.table__text {
  margin: 0;
}

.table__link {
    display: inline-block;
    color: var(--accent-color);
    position: relative;
}


.table__link::before {
  content: '';
  position: absolute;
  background-color: var(--font-color);
  opacity: 0;
  border-radius: 12px;
  top: -2px;
  left: -4px;
  bottom: 0;
  right: -4px;
  transition: opacity .2s;
}

.table__link:hover::before {
  opacity: 0.2;
}

.table__link:active::before {
  opacity: 0.4;
}

.table__text--color {
  color: var(--gray-color);
}

.contacts__btn {
    min-height: 70px;
    padding-left: 28px;
    padding-right: 31px;
    margin-left: 2px;
    margin-top: 41px;
    color:  var(--accent-color);
    border: 1px solid var(--accent-color);
    background: transparent;
    border-radius: 12px;
    line-height: 1;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.2s;
}

.contacts__btn:hover {
  transform: scaleY(1.1);
}

.contacts__btn:active {
  transform: scaleY(1.2);
}

/* WRITE-US SECTION */

.write-us {
    flex: 0 1 341px;
    padding-top: 135px;
}

.write-us__title {
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 41px 32px;
}

.write-us__form {
  min-height: 389px;
}

.write-us__input {
  min-height: 70px;
  width: 100%;
  padding: 0 20px;
  border: none;
  border-radius: 12px ;
  color: var(--font-color);
  margin-bottom: 23px;
}

.write-us__input::placeholder {
  color: var(--gray-color);
}

.textarea {
  resize: none;
  padding-top: 14px;
  padding-bottom: 23px;
  margin-bottom: 10px;
}

.write-us__btn {
  min-height: 70px;
  width: 100%;
  padding: 0 29px;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  color: var(--white-color);
  transition: transform 0.2s;
}

.write-us__btn:hover {
  transform: scaleY(1.1);
}

.write-us__btn:active {
  transform: scaleY(1.2);
}
