.services{
    padding: 25px 0;
}

.services__title {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 43px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
}

.services__column {
    flex: 1 1 572px;
    margin-bottom: 23px;
    background-color: var(--white-color);
    border-radius: 12px;
}

.services__column:nth-child(2n+1) {
  margin-right: 24px;
}


.services__item {
    padding-left: 45px;
    padding-bottom: 33px;
    padding-right: 104px;
    padding-top: 198px;
    border-radius: 12px;
    background-repeat: no-repeat;
}

.item__glass {
  background-image: url('../img/service_glass.jpg');
}

.item__lunch {
  background-image: url('../img/service_lunch.jpg');
}

.item__pool {
  background-image: url('../img/service_pool.jpg');
}

.item__cars {
  background-image: url('../img/service_cars.jpg');
}


.services__link {
    display: inline-block;
}

.services__item-title {
  position: relative;
    font-size: 22px;
    color: var(--accent-color);
	display: inline-block;
	font-weight: 400;
	line-height: 1;
  margin: 0;
}

.services__item-title::after{
  position: absolute;
    content: '';
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: right;
    color: var(--accent-color);
    transition: transform 0.2s ;
    height: 100%;
    width: 24px;
  }

.services__link:hover .services__item-title::after,
.services__link:focus .services__item-title::after {
    transform: translateX(10px);
  }

  .services__item-description {
    margin: 0;
}

.services__link:active .services__item-title::after {
  transform: translateX(20px);
}
