.header{
    padding-bottom: 35px;
}

.header__top {
	display: flex;
	min-height: 115px;
	align-items: center;
	padding-right: 11px;
}

.logo {
	margin-right: 28px;
}

.header__tel {
	font-size: 22px;
	color: #666666;
	line-height: 32px;
	font-weight: 700;
}

.header__account {
	background: url("../img/arrow_2.png") no-repeat left;
	padding-left: 18px;
    margin-left: auto;
    color: #cc9933;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
}

.header__bottom {
	background-color: #fff;
	border: 1px solid #ffffff;
	border-radius: 12px;
	display: flex;
	min-height: 70px;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

.menu__list {
	display: flex;
    flex-wrap: wrap;
}

.menu__list-item:not(:last-child) {
	margin-right: 47px;
}

.header__search-form {
	height: 48px;
	width: 357px;
	margin-left: auto;
	display: flex;
	align-items: center;
	background-color: #f1f1f1;
	border-radius: 15px;
	border: 1px solid #f1f1f1;
}
.header__search-input {
	height: 100%;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	color: #08ca42;
	background-color: transparent;
}

.header__search-input::placeholder {
  color: #bebebe;
}

.header__search-btn {
	background: url("../img/search.svg") no-repeat;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 11px 21px;
}
