
.booking-special-container {
padding: 38px 0;
}

.booking-special__row {
    display: flex;
}

.booking__column {
    flex: 1 1 518px; 
    margin-right: 58px;
}

.booking-special__title{
    font-size: 40px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 43px;
}

.booking__form {  
    display: flex;
    flex-direction: column;
    min-height: 540px;
    justify-content: space-between;
}

.booking__input {
    min-height: 71px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 12px ; 
    color: #999999; 
    margin-bottom: 23px;
}

.booking__row {
    display: flex;
    align-items: center;
}

.booking__btn {
    min-height: 70px;
    padding: 0 29px;
    margin-right: 32px;
    background-color: #cc9933;
    border: 1px solid #cc9933;
    border-radius: 12px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    color: #ffffff;  
}

.booking__props {
    color: #999999; 
    margin: 0;
    line-height: 1;
}

.booking__props-counter {
    color: #cc9933; 
}

/*--- END BOOKING SECTION--- */

/* -- START SPECIAL-OFFER SECTION  */
.special__column {
    flex: 1 1 595px;
}

.special-offer__content {
    padding-top: 266px;
    padding-left: 40px;
    padding-bottom: 28px;
    padding-right: 40px;
    background: url("../img/room_in_hotel.jpg") no-repeat #000000;
    background-size: contain;
    border-radius: 12px;
    min-height: 540px;
    width: 595px;
}

.special-offer__heading {
    margin: 0 0 31px 0;
    color: #ffffff;
    font-size: 66px;
    line-height: 0.9;
    max-width: 97%;
    overflow-wrap: break-word;
}

.special-offer__span {
    display: inline-block;
    margin-right: 37px;
    color: #c0b0a8;
    font-size: 35px;
}

.special-offer__link {
    background: url('../img/arrow.svg') no-repeat right;
    padding-right: 16px;
    color: #ffcc66;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	margin: 0;
}