.contacts-container {
    padding-top: 26px;
    padding-bottom: 21px;
    display: flex;
}

.contacts {
    flex: 0 1 472px;
}

.contacts__title {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 41px;
}

.contacts__content {
    padding: 20px 45px 19px 41px;
    min-height: 621px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #ffffff;
}

.contacts__table {
  border-collapse: collapse;
}

.table__row{
  border-bottom: 1px solid #cccccc;
}

.table__row-caption {
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    color: #666666;
    padding-top: 26px;
    vertical-align: top;
}

.table__row-description {
  padding: 25px 0 25px 38px ;
}

.table__text {
  margin: 0;
  line-height: 24px;
}

.table__link {
    display: inline-block;
    color: #cc9933;
}

.contacts__btn {
    height: 70px;
    padding-left: 28px;
    padding-right: 31px;
    margin-left: 46px;
    background-color: transparent;
}


/* WRITE-US SECTION */

.write-us {
    flex: 1 1 341px;
}

.write-us__title {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 43px;
}

.write-us__form {

}

.write-us__input {
    border-radius: ;
    min-height: ;
    border: ;


}

.write-us__input::placeholder {

}
