.contacts__container {
    outline: 1px solid #cc9933;
    padding-top: 64px;
    padding-bottom: 45px;
}

.contacts {
    width: 472px;
}

.contacts__title {
    margin-bottom: 22px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 19px;
    padding-bottom: 19px;
    outline: 1px solid #cc9933;
    margin-bottom: 24px;
}

.contacts__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #cccccc;
    padding-top: 25px;
    padding-bottom: 24px;
    outline: 1px solid #cc9933;
}

.contacts__item_heading {
    font-size: 22px;
    line-height: 1;
    color: #666666;
    margin-top: 0;
    margin-bottom: 0;
}

.contacts__item_description {
    display: flex;
    flex-direction: column;
    
    width: 62%;
    line-height: 1.5;
}

.contacts__item_text {
    margin-top: 0;
    margin-bottom: 0;
}

.contacts__item_tel {
    color: #cc9933; 
}

.contacts__btn {
    height: 70px;
    padding-left: 28px;
    padding-right: 31px;
    margin-left: 46px;
}