
.footer__container {
    background-color: #333333;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    min-height: 338px;
    padding: 40px 52px;
}

.footer-left {
    flex: 0 1 300px;
}

.footer-left__copyright {
    font-size: 16px;
}

.footer-left__text {
    color: #ffffff;
    margin: 0 0 33px;
}

.footer__link {
    color: #cc9933;
    display: inline-block;
    width: 100%;
}

.footer-contacts {
    flex: 0 1 366px;
    color: #ffffff;
}

.footer-contacts_address {
    font-style: normal;
}

.footer-contacts__text {
  margin: 0 0 29px;
}

.footer-contacts__content {
  line-height: 25px;
}

.footer-contacts__content:not(:last-child) {
    margin-bottom: 23px;
}

.socials {
    margin-left: 125px;
    padding-top: 7px;
}

.socials__item:not(:last-child) {
    margin-bottom: 10px;
}

.socials__link {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: no-repeat center center;
}

.socials__link--tripadvisor {
  background-image: url('../img/tripadvisor.svg');
  transform: translateY(2px);
}

.socials__link--tw {
    background-image: url('../img/twitter.svg');

}

.socials__link--fb {
  background-image: url('../img/facebook.svg');
}

.socials__link--vk{
    background-image: url('../img/vk.svg');
}

.socials__link--google {
    background-image: url('../img/google.svg');
    transform: translateY(-2px);
}

