.footer {
    padding-bottom: 52px;
}

.footer__container {
    background-color: #333333;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    min-height: 338px;
    padding: 40px 53px;
}

.footer-left {
    flex: 0 1 300px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-left__copyright {
    color: #ffffff;
}

.footer-left__text {

    color: #ffffff;
}

.footer__link {
    color: #cc9933;
}

.footer-contacts {
    flex: 0 1 366px;  
}

.footer-contacts_address {
    color: #ffffff;
    margin-bottom: 28px;
}

.footer-contacts_content {
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

.footer-contacts_content:not(:last-child){
    margin-bottom: 23px;
}

.footer-socials {
    flex: 0 1 25px; 
    margin-left: 125px; 
    display: flex;
    flex-direction: column;
    padding-top: 7px;
}

.footer-socials__list-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-socials__link {
   

}

.footer-socials_icon {
    display: inline-block;
    width: 24;
    height: 24px;
}