.about-us{
    padding: 34px 0;
}

.about-us-title {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 43px;
}

.about-us__text {
    padding: 0 213px 0px 46px;
    color: var(--dark-gray);
    margin: 0;
}
