.accommodation {
	padding: 20px 0;
}

.accommodation__title {
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 27px 43px;
}

.accommodation__list {
	display: flex;
	flex-wrap: wrap;
}

.accommodation__column {
	flex: 1 1 372px;
	margin: 0 0 23px;
	background-color: var(--white-color);
	border: 0;
	border-radius: 12px;
}

.accommodation__column:not(:nth-child(3n)){
    margin-right:24px;
}

.accommodation__img {
	border: 0;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.accommodation__article {
	border: 0;
	border-radius: 12px;
}

.accommodation__item {
	padding: 19px 45px 45px;
}

.item__text {
  margin: 0;
}

.item__text:first-child {
  margin-right: auto;
}

.item__props {
	display: flex;
    align-items: center;

}

.item__span_size {
	font-size: 22px;
	font-weight: bold;
}

.item__span_color {
	color: #969696;
}

.props__stars {
    width: 93px;
    display: flex;
}

.img-star {
    height: 14px;
}

.img-star:not(:last-child) {
  margin-right: auto;
}

.item__heading {
	margin: 0;
	font-size: inherit;
	font-weight: 400;
}

.text_color {
	color: var(--gray-color);
}

.item__btn {
    padding: 0 19px;
    min-height: 41px;
    margin-top: 12px;
    border: 1px solid var(--accent-color);
    background-color: transparent;
    border-radius: 12px;
    color: var(--accent-color);
    line-height: 1;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    transition: transform .5s;
}

.item__btn:hover {
  transform: scale(1.2);
}

.accommodation__column-last {
	padding-top: 362px;
    padding-left: 39px;
    padding-right: 29px;
    padding-bottom: 48px;
    background-size: contain;
    background: url("../img/hotels_sea.jpg") no-repeat center center var(--font-color);
    border-radius: 12px;
}

.last_link {
  position: relative;
    font-size: 22px;
    font-weight: 500;
    color: var(--white-color);
    display: inline-block;
}

.last_link::after {
  position: absolute;
    content: url('../img/arrow_white.svg');
    top: 4px;
  right: -22px;
    transition: transform .5s ;
  }

  .last_link:hover::after,
  .last_link:focus::after {
    transform: translateX(10px);
  }
