.benefits {
	padding: 23px 0;
}

.benefits__title {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 43px;
}

.benefits__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -11px;
}

.benefits__column {
	flex: 0 1 275px;
	margin: 0 11px 26px;
	background-color: var(--white-color);
}

.item_bath {
	background: url("../img/bathtub.svg");
}

.item_hanger {
	background: url("../img/hanger.svg");
}

.item_heating {
	background: url("../img/heating.svg");
}

.item_key {
	background: url("../img/hotel-key.svg");
}

.item_parking {
	background: url("../img/parking.svg");
}

.item_reception {
	background: url("../img/reception.svg");
}

.item_security-box {
	background: url("../img/security-box.svg");
}

.item_swimming-pool {
	background: url("../img/swimming-pool.svg");
}

.benefits__item {
  padding: 114px 44px 33px;
    margin: 0;
    background-size: 23%;
    background-repeat: no-repeat;
    background-position: left 45px top 42px;
}
