.header{
    padding-bottom: 35px;
}

.header__top {
	display: flex;
	min-height: 115px;
	align-items: center;
	padding-right: 11px;
}

.logo {
	margin-right: 28px;
}

.header__tel {
	font-size: 22px;
	color: #666666;
	line-height: 32px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  transition: transform 0.2s;
}

.header__tel::before {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  opacity: 0;
  border-radius: 12px;
  top: -4px;
  left: -10px;
  bottom: 0;
  right: -10px;
  transition: opacity 0.2s;
}

.header__tel:hover::before {
  opacity: 0.3;
}

.header__tel:active::before {
  opacity: 0.6;
}

.header__account {
  position: relative;
  margin-left: auto;
  color: var(--accent-color);
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
  line-height: 1;
}

.header__account::before {
  content: '';
  position: absolute;
  background-image: url("../img/arrow_2.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 25px;
  left: -16px;
  background-position: left;
  transition: transform 0.2s ;
}

.header__account:hover::before,
.header__account:focus::before {
  transform: translateX(-10px);
}

.header__account::after {
  content: '';
  position: absolute;
  background-color: var(--font-color);
  opacity: 0;
  border-radius: 12px;
  top: -3px;
  left: -33px;
  bottom: -2px;
  right: -10px;
  transition: opacity 0.2s;
}

.header__account:hover::after {
  opacity: 0.2;
}

.header__account:active::after {
  opacity: 0.4;
}

.header__bottom {
	background-color: var(--white-color);
	border: 1px solid var(--white-color);
	border-radius: 12px;
	display: flex;
	min-height: 70px;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

.menu__list {
	display: flex;
  flex-wrap: wrap;
}

.menu__list-item:not(:last-child) {
	margin-right: 47px;
}

.menu__link {
  position: relative;
}

.menu__link::before {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  opacity: 0;
  border-radius: 12px;
  top: -4px;
  left: -10px;
  bottom: -4px;
  right: -10px;
  transition: opacity 0.2s;
}

.menu__link:hover::before {
  opacity: 0.4;
}

.menu__link:active::before {
  opacity: 0.7;
}

.header__search-form {
	height: 48px;
	width: 357px;
	margin-left: auto;
	display: flex;
	align-items: center;
	background-color: var(--bg-color);
	border-radius: 15px;
	border: 1px solid var(--bg-color);
}

.header__search-input {
	height: 100%;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	color: var(--font-color);
	background-color: transparent;
}

.header__search-input::placeholder {
  color: #bebebe;
}

.header__search-btn {
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
	border: none;
	background-color: transparent;
  cursor: pointer;
  height: 48px;
  width: 73px;
  background-position: center;
  background-size: 38%;
  transition: transform 0.2s;
}

.header__search-btn:hover {
  transform: scale(1.2);
}

.header__search-btn:active {
  transform: scale(1.4);
}

